doctype html
head
    // Google tag (gtag.js)
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-3M15T9N5RY')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-3M15T9N5RY');
    title 花亦山心之月 名士關係圖
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="花亦山心之月-名士關係圖")
    meta(name="keywords", content="花亦山心之月,名士關係圖")
    link(rel="icon",type="image/png",href="https://p16-sg.dailygn.com/obj/g-marketing-assets-sg/2022_04_06_09_46_49/icon_s1879634.png")
    link(rel="stylesheet", href="chrmap.css")
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
body
    .container
        table(cellspacing="0" cellpadding="0").tileTable
            tr
                td.tile.t00 
                td.tile.t01 
            tr
                td.tile.t10 
                td.tile.t11
            tr
                td.tile.t20 
                td.tile.t21
            tr
                td.tile.t30 
                td.tile.t31
        #chrList
            .characterWrap(name='花家少主',l=1208,t=1252,rarity="main",bg="none")
                .character.main 
                    img(src="https://i.imgur.com/J7s3Wdq.png", alt="")
                h4.name
    .mapBtns  
        button.scaleBtn.scaleUp + 
        button.scaleBtn.scaleDown - 

    .mapPopupPanel
        .topic NAME
        hr
        p.story 
        a.link(href="" target="_blank" title="暫時先去官網唷~") 更多...
        button.mapPopupCloseBtn X
  
  


    script(type='text/javascript', src='chrmap.js')